body{
    background-color: #fffbf7;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
  }

  h1, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #025157;

  }

.fixedHeader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #fffbf7;
}

.header{
    margin: 40px 20px 0;
    font-size: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}


.logo , .actions {
    width: 15%;
}

.logo > img {
    width: 15%;
    margin-top:8px
}

.navBar {
    width: 70%;
    color: #025157;
    font-weight: 500;
    text-align: left;
}

.navBar > ul {
    width: 70%;
    vertical-align: middle;
    height : 45px;
    margin : 5px 20px 0;
    padding:0;
}

.navBar li a{
    margin-left: 8px;
    text-decoration: none;
    
}

.navBar li a:hover{
    color: #3d3c3c;
}

.navBar ul li a:active{
    color: #020202;
    text-decoration-line: underline;
}

li {
    display: inline;
}

.actions {
    text-align: left;
}
 .actions > a {
    color:#67b54b;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;  
}  

.actions > a:hover {
    color:#212529;   
} 

.main {
    margin-top: 285px;
    text-align: center;
}
/*Pending to check the proper way to center this*/
.signUpForm{
    margin:auto;
    width:16%;
    display:flex;
}

button,input{
    padding:6px 20px;
    border-width: 1px;
    border-radius: 8px;
}


button{
    background-color:#025157;
    color:#fff;
    margin-left:-10px;
    border-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 20px;
    cursor: pointer;
}

.generalButton {
    background-color:#025157;
    color:#fff;
    border-radius: 8px;
    margin: 0;
}

#greenButton {
    background-color: #67b54b;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    padding: 12px 14px;

}

input{
    border-style: solid;
}

.generalParagraph{
    color:#46484c;
    text-align: center;
}

.promotionalText{
     text-align: center;
      color:#8b8b8bcc;
  }

  img{
    width:150px;
    margin: auto;
    display: block;
  }

.imgOverview{
    width: 70%;
    margin: auto;
    display: block;
}

.promo{
    display:flex;
    align-items: center;
    width: 70%;
    margin: 100px auto;
}

.video{
    display:flex;
    flex-direction: column;
}

.video img {
    width: 40px;
    margin-top: 10px;
}

.publish{
    margin-left: 40px;
}
.publish h3, .success-stories h3  {
    font-size: 40px;
    line-height: 48px;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form p {
    color: #025157;
    margin-right: 18px;
  }

.stories-overview{
    display:flex;
    width:70%;
    padding: 15% 15%;
    justify-content: space-around;
    background-color:#a1d683;
    height: 600px;
}

.success-stories{
    display:flex;
    flex-direction: column; 
    width:60%;
    margin-top: 0;

}

.study-case{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-top:0;
    padding-top: 0;
    width:25%;
    background-color: #fffbf7;
    border-radius: 7px;
}


.carousel {
    position:relative;
    background-color: #fffbf7;

}

.carousel > ul {
    margin:0;
    padding:0;
    list-style: none;
    
}

.slide {
    position:absolute;
    opacity:0;
}

.slide[data-active]{
    opacity:1;
}

.carousel-button{
    position:absolute;
    z-index: 2;
    background:none;
    border: none;
    font-size:1rem;
    color: rgba(255, 255, 255, .5);
    cursor:pointer;
    border-radius: .25rem;
    padding: 0 .3rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, .carousel-button:focus{
color:white;
background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
    left:5rem;
    top: 35rem;
}

.carousel-button.next{
    right:5rem;
    top: 35rem;
}

.carousel > ul {
    margin:0;
    padding:0;
    list-style: none;
    border:none;
}

figure > img {
width:300px;
}

.slide > img{
    width:100%;
    border-radius: 8px 8px 0 0 ;
}

li h3,h2{
    margin:5px ;
}
