body{
    background-color: #fffbf7;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #025157;
    text-align: center;
    font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

.header{
    margin: 40px 20px 0;
    font-size: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 45px;
    line-height: 45px;

}

.logo , .actions {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navBar {
    width: 70%;
    color: #025157;
    font-weight: 500;
    text-align: left;
}

.navBar li a{
    margin-left: 8px;
    text-decoration: none;
    color:#025157;
    
}

.navBar li a:hover{
    color: #3d3c3c;
}

.navBar li a:active{
    color: #020202;
}

li {
    display: inline;
}

.actions {
    text-align: left;
}
 .actions > a {
    color:#67b54b;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;  
}  

.actions > a:hover {
    color:#212529;   
} 

.main {
    margin-top: 140px;
    text-align: center;
}
/*Pending to check the proper way to center this*/
.signUpForm{
    margin:auto;
    width:16%;
    display:flex;
}

.signUpForm button,input{
    padding:6px 20px;
    border-width: 1px;
    border-radius: 8px;
}


.signUpForm button{
    background-color:#025157;
    color:#fff;
    margin-left:-10px;
    border-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 20px;
    cursor: pointer;
}

#greenButton {
    background-color: #67b54b;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    padding: 12px 14px;

}

input{
    border-style: solid;
}

.generalParagraph{
    color:#46484c;
    text-align: center;
}

.promotionalText{
     text-align: center;
      color:#8b8b8bcc;
  }

  img{
    width:150px;
    margin: auto;
    display: block;
  }

.imgOverview{
    width: 70%;
    margin: auto;
    display: block;
}


