body{
    background-color: #fffbf7;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
    font-size: 60px;
  }

  h1, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #025157;

  }

.fixedHeader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:#fffbf7;

}

.header{
    /*margin: 40px 20px 0;
    font-size: 0;*/
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 70px;
    height: 70px;
}

.header > * {
    vertical-align: middle;
    height:60px;
}

.header > a{
    flex-grow: 1;
}
.header > a .logo{
    width:40px;
    vertical-align: middle;
    align-self: center;
    margin-left: 30px;
}

.header > nav{
    flex-grow: 6;
    height:60px;
}

.header > .actions{
    flex-grow: 1;
    margin-right: -90px;
}

.navBar ul{
    list-style-type:none;
    text-decoration: none;
    vertical-align: middle;  
    height:60px;
    margin-top: 0;
}

li {
    display: inline;
}

.navBar li a{
    text-decoration: none;
    color:#025157;
}

.navBar li a:hover{
    color: #3d3c3c;
}

.navBar ul li a:active{
    color: #020202;
}



.actions {
    text-align: left;
}
 .actions > a , .feature-card > a , .hiw-card > a{
    color:#67b54b;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;  
}

.actions > a:hover {
    color:#212529;   
} 

.main {
    margin-top: 150px;
    text-align: center;
}
/*Pending to check the proper way to center this*/
.sign-up-form{
    margin:auto;
    width:16%;
    display:flex;
}

button,input{
    padding:6px 20px;
    border-width: 1px;
    border-radius: 8px;
}

/*
button{
    background-color:#025157;
    color:#fff;
    margin-left:-10px;
    border-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 20px;
    cursor: pointer;
} */

/*Sign Up form style for bootstrap*/
.general-signup{
    background-color:#025157;
    color:#fff;

}

.mb-3{
margin-left: 1rem;

}

.input-group{
    width:90%;
}
/*end Sign Up form style for bootstrap*/

.generalButton {
    background-color:#025157;
    color:#fff;
    border-radius: 8px;
    margin: 0;
}

#greenButton {
    background-color: #67b54b;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    padding: 12px 14px;

}

.green-button{
    background-color: #67b54b;
    color: #fff;
}

input{
    border-style: solid;
}

.generalParagraph{
    color:#46484c;
    text-align: center;
}

.promotionalText{
     text-align: center;
      color:#8b8b8bcc;
  }

.logoCapterra{
    width:150px;
    margin: auto;
    display: block;
  }

.imgOverview{
    width: 70%;
    margin: auto;
    display: block;
}

.promo{
    display:flex;
    align-items: center;
    width: 70%;
    margin: 100px auto;
    flex-direction: row;
}

.video video{
    display:flex;
    width:500px;
}

.video img {
    width: 40px;
    margin-top: 10px;
}

.publish{
    margin-left: 40px;
}
.publish h3, .success-stories h3  {
    font-size: 40px;
    line-height: 48px;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form p {
    color: #025157;
    margin-right: 18px;
  }

.stories-overview{
    display:flex;
    width:100%;
    padding: 3% 3%;
    justify-content: space-around;
    background-color:#a1d683;
    height: 950px;
}

.carousel{
    display: flex;
    width:30%;
    flex-direction: column;
    background-color: #fffbf7;
    border-radius: 8px 8px 8px 8px ;
}

.success-stories{
    display:flex;
    flex-direction: column; 
    width:50%;
    justify-content: space-around;

}

/*
.success-stories{
    display:flex;
    flex-direction: column; 
    width:50%;
    margin-top: 0;
    vertical-align: middle;

}

.study-case{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-top:0;
    padding-top: 0;
    width:25%;
    background-color: #fffbf7;
    border-radius: 7px;
}


.carousel {
    position:relative;
    background-color: #fffbf7;

}

.carousel > ul {
    margin:0;
    padding:0;
    list-style: none;
    
}

.slide {
    position:absolute;
    opacity:0;
}

.slide[data-active]{
    opacity:1;
}

.carousel-button{
    position:absolute;
    z-index: 2;
    background:none;
    border: none;
    font-size:1rem;
    color: rgba(255, 255, 255, .5);
    cursor:pointer;
    border-radius: .25rem;
    padding: 0 .3rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, .carousel-button:focus{
color:white;
background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
    left:5rem;
    top: 35rem;
}

.carousel-button.next{
    right:5rem;
    top: 35rem;
}

.carousel > ul {
    margin:0;
    padding:0;
    list-style: none;
    border:none;
}
*/


figure > img {
width:300px;
margin-top:3%;
align-content: center;
}



.slide > img{
    width:50%;
    border-radius: 8px 8px 0 0 ;
}

.carousel-item > img{
    width:100%;
    border-radius: 8px 8px 0 0 ;
}

.carousel-item > h3{
margin-top:2%;
}

.carousel-item > h2{
    margin-bottom: 10%;
    }


li h3,h2{
    margin:5px ;
}

/*CSS for Features section*/

.features{
    display:grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    background-color: #025157;
    height:800px;
    justify-content: space-between;
    vertical-align: middle;
}

.feature-card{
    background-color: #fffbf7;
    display:flex;
    border-radius: 8px;
    flex-flow: column wrap;
    align-items: center;
    margin:40px 40px;
    overflow: hidden;
}

.img-feature-card{
    order:1;
    width:30px;
    align-self:flex-start;
    margin-left:5px;
}

.feature-card > h3 {
    order:2;
    align-self:flex-start;
    margin-left:5px;
}

.feature-card > p {
    order:2;
    align-self:flex-start;
    margin-left:5px;
    word-wrap: break-word;
}

.feature-card > a {
    order:4;
    align-self:flex-start;
    margin-left:5px;
}

.feature-card > .img-feature-card-right{
    order: 5;
    width:80px;
    max-width: 100%;
    flex-grow: 0;
    flex-basis: 80%;
    align-self: flex-end;
}

/*How does Matcha work section*/

/*This is our grid container for the How it works section*/
.how-it-works{
    display:grid;
    grid-gap: 20px;
    background-color:#fffbf7;
    justify-content: center;
    align-content: center;
    padding: 5%;
}

.hiw-card{
    background-color: #fff;
    border: 1px solid #67b54b;
}

.how-it-works {
    width: 100%
}

.hiw-card img{
    width:100%;
    height:330px;
}

.hiw-header{
grid-column: span 4;
text-align: center;

}

.hiw-card2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

}

.hiw-card3{
    grid-row: 2 / 3;
    grid-column: 2 / 3;

}

.hiw-card4{
    grid-row: 2 / 3;
    grid-column: 3 / 4;

}

.hiw-card5{
    grid-row: 2 / 3;
    grid-column: 4 / 5;

}

.hiw-card p {
    height: 100px;
}



/**responsive design CSS*/

@media (max-width:575px) {
    .navBar,
    .actions{
    display:none;
    }

    h1 {
        font-size: 2rem; /*Considering 16px as the default rem value*/
    }

    .main {
       margin-top: 160px ;
    }

    /*section promo*/
    .banner img {
        width:80%
    }

    .promo{
        flex-direction: column;
    }
    
    .video video{
        display:flex;
        width:300px;
    }

    .video img{
        width:25px;
    }

    .publish {
        margin-left: 0px;
        margin-top: 10px;
    }

    .publish > form {
    flex-direction: column;
    }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }

  .publish > form > div > .publish-button {
    background-color:#025157;
    color:#fff;
    margin: 2px;
  }


  /*Section features*/
  .features{
    /*here we are specifying to have 4 rows with the same fraction, and only one column*/
    grid-template: repeat(4, 1fr) / 1fr;
    grid-auto-rows: minmax(300px, auto);

  }
  
  .feature-card{
    flex-flow: row wrap;
    margin:20px;
  }

  .img-feature-card-right{
    display: none;
  }


  /*Style for Success cases section*/
  .stories-overview{
    flex-direction: column;
    width:100%;
    height:auto;
  
  }

  .success-stories{
    width:100%;
    justify-content: space-around;

  }

  .carousel {
    width:100%;
  }


  /*Section How it works*/

    
    .hiw-card2{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        grid-column: span 4;
    
    }
    
    .hiw-card3{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        grid-column: span 4;
    
    }
    
    .hiw-card4{
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        grid-column: span 4;
    
    }
    
    .hiw-card5{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        grid-column: span 4;
    
    }
  }


@media (min-width: 576px) and (max-width:767px) {
    body {
        background-color: lightgreen;
    }
    
}

@media (min-width: 768px) and (max-width:991px) {
    body {
        background-color: lightsalmon;
    }
    
}

@media (min-width: 992px) and (max-width:1080px) {
    body {
        background-color: lightyellow;
    }
    
}
